
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {box-sizing: border-box;margin: 0;padding: 0;user-select: none;}
html{margin-top: -16px;}
body {font-family: 'Poppins', sans-serif;}
.nav{background:linear-gradient(to right, #444141, #505050e0)!important;}
ul {list-style: none;}
ul li {padding: 8px;margin: 0 10 0 10;color: white;margin: 12px;}
ul li:hover{color: #19b6bb;}
a{text-decoration: none;}
.contact{background-color: #0dc8cea1;border-radius: 2px;transition: .6s;}
.contact:hover{background-color: #2f6d6fa1;}
a:hover{text-decoration: none;}
.pointer{cursor: pointer;}
h1{width: 20%;color: white;font-family: "Bangers", cursive;letter-spacing: 12px;font-size: 58px;padding-top: 4px;padding-left: 25px;text-shadow: 10px 0px 19px white;}
.menu{display: none;}



/* Body style */
.card{
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  background: #090909d9;
}
h2 {
  font-family: "Glegoo", serif;
  font-size: xx-large;
  color: #e2cfcf7a;
  text-shadow: 1px 4px 12px white;
  letter-spacing: 2px;
}
h4{
  font-size: 50px;
  margin: 39px 14px;
  color: white;
  font-family: "Bubblegum Sans", cursive;
}
.text-about p {
  letter-spacing: 1px;
  text-align: justify;
  color: white;
  font-size: 16px;
  width: 75%;
  margin-left: 20px;
  margin-bottom: 15px;
}

.social-media a {
  color: #d8d5d5;
  margin: 5px 21px;
  font-size: 22px;
  padding: 5px 10px;
  border-radius: 50%;
}
.social-media a:hover {
  background: #a7a19afc;
  color: white;
}

.content {
    background: linear-gradient(to right, #0c0c0cc7, #3c3a3a);
}

.main-skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #090909;
  color: white;
  padding: 16px;
}
.skill-title {
  padding-top: 12px;
  color: white;
  text-align: center;
  font-size: xx-large;
  font-family: "Bubblegum Sans", cursive;
  background-color: #090909;
}
.skill {
  font-family: 'Kumbh Sans', sans-serif;
  padding: 11px;
  text-align: center;
}

.all-cars h4 {
  font-size: 20px;
  color: #f5ecec61;
  margin: 13px 10px;
}

.service{
  background-color: #090909!important;
}

.all-cars {
  background: #131313;
  padding: 12px 12px;

  border-radius: 3px;
  box-shadow: 0 2px 6px 3px rgb(247 244 244 / 58%), 0 2px 10px 1px rgb(251 245 245 / 33%);
  position: relative;
}


.all-cars span {
  padding: 12px;
  margin-bottom: 14px;
  background: #5a6e6f;
  right: 9px;
  bottom: 0;
  border-radius: 3px;
  font-size: 18px;
  color: white;
  font-family: "Contrail One", cursive;
  transition: .5s;
}

.all-cars p {
  text-align: justify;
  color: white;
}

.all-cars span:hover {
  color: #4c4242;
  background: #5f9ea0bf;
}

.email {
  padding-top: 12px;
  color: white;
  text-align: center;
  font-size: xx-large;
  font-family: "Bubblegum Sans", cursive;
  background-color: #090909!important;
}

.footer2 {
  padding: 10px;
  font-size: 17px;
  background: #000000e0;
  color: white;
}



.pyhton {
  color: white;
  float: right;
  margin: 12px;
  margin-top: -30px;
  font-size: xx-large;
}




.copyright {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (max-width: 1000px) {
h4{
    margin: 21px 14px;
    font-size: 45px;
}
img{
  margin-left: -152px;
}

}
@media only screen and (max-width: 766px){
  img{
    margin-left: 0px;
    margin-bottom: -17px;
  }
}

@media only screen and (max-width: 700px) {
  .menu {display: block;}
  ul li{
    display: none;
  }
}